<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reminders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let reminder of reminders">
      <ion-icon name="medkit" *ngIf="reminder.type == 'DoctorVisit'"></ion-icon>
      <ion-icon name="thermometer" *ngIf="reminder.type == 'Measurement'"></ion-icon>
      <ion-icon name="thermometer" *ngIf="reminder.type == 'PillTime'"></ion-icon>
      <span>{{reminder.name}}</span>
      <i class="icon ion-ios-arrow-right"></i>
    </button>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="addNewReminder()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
